<h1>Dashboard</h1>

<h2>Chiffres clés</h2>
  <p>Nb total de demandes émises : <%= @emetteur_requests.count%></p>
  <p>Nb total de demandes reçues : <%= @destinataire_requests.count%></p>
  
  
<h2>Demandes faites :</h2>

<% @emetteur_requests.each do |request| %>
  <p>titre :<%=request.titre %></p>
  <p>destinataire:<%=request.destinataire.entreprise %></p>
  <p>date d'échéance<%=request.date_echeance %></p>
  <p>avancement en %</p>
  <p>nouveau document téléchargé ? ?</p>
<% end %>


<h2>Demandes reçues :</h2>

<% @destinataire_requests.each do |request| %>
  <p>titre :<%=request.titre %></p>
  <p>emetteur :<%=request.emetteur.entreprise %></p>
  <p>date d'échéance :<%=request.date_echeance %></p>
  <p>avancement en %</p>
  <p>document rejeté ? ?</p>
<% end %>

