<!---- appel sidebar --->
<%= render "shared/sidebar" %>

 <div class="navbar-user">

        <div class="header">
           <h5><%= "Bonjour #{current_user.prenom} #{current_user.nom}" %></h5>
          <h1>DASHBOARD</h1>

          <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item"%></a>
          </div>
        </li>
        </div>





<!---- BLOCK DEBUT TEST --->

    <div class="mother-container-chiffres">
        <div class="chiffres">card 1</div>
        <div class="chiffres">card 2</div>
        <div class="chiffres">card 3</div>
      </div>


<div class="container-2">
    <div class="demandes"><p>Demandes faites</p>
      <% @emetteur_requests.each do |request| %>
        <div class="cards">

          <div class="card-demandes">

            <!--- ligne 1 --->
              <div class="ligne1-titre">
              <%= link_to request_path(request), class: "remove_link_style" do  %>

                  <li><p>titre :<%=request.titre %></p></li>
                  <p>destinataire:<%=request.destinataire.entreprise %>Entreprise</p>
                  </div>
                  <!--- ligne 2 --->

              <p>date d'échéance<%=request.date_echeance.strftime("%d/%m/%Y") %></p>
              <p>avancement : <%= request.avancement%> %</p>
              <p> nouveau document <%= @doc_a_valider%></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


    <div class="demandes"><p>Demandes reçues</p>
      <% @destinataire_requests.each do |request| %>
        <%= link_to request_path(request), class: "remove_link_style" do  %>
           <div class="cards">
            <div class="card-demandes">
              <p>titre :<%=request.titre %></p>
              <p>emetteur :<%=request.emetteur.entreprise %></p>
              <p>date d'échéance :<%=request.date_echeance.strftime("%d/%m/%Y") %></p>
              <p>avancement : <%= request.avancement%> %</p>
              <p>document refusé <%= @doc_refuse%> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
</div>


