<!---- appel sidebar --->
<%= render "shared/sidebar" %>




 <div class="main_content">
        <div class="header">Bonjour</div>
        <div class="info">

 

<h2>Chiffres clés</h2>

<!-----  Vivier

  <h2>Chiffres clés</h2>
  <p>Nb total de demandes émises : <%= @emetteur_requests.count%></p>

  <p>Nb total de demandes reçues : <%= @destinataire_requests.count%></p>
 <%= link_to "créer une nouvelle demande",new_request_path %>

----->


<!----- div test Amath ----->

<section class="card-parent">



<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Réacticivité admin</h5>
        <p class="card-text"> 5 dossiers en cours.. </p>
         <p>Nb total de demandes émises : <%= @emetteur_requests.count%></p>

  <p>Nb total de demandes reçues : <%= @destinataire_requests.count%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <i class="far fa-bell"></i>
        <h5 class="card-title">Reminder J-7 </h5>
        <p class="card-text"></p>
        <p class="card-text">4 Dossiers non complet</p>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <i class="fas fa-tasks"></i>
      <div class="card-body">
        <h5 class="card-title">Dossier en cours</h5>
        <p class="card-text">n longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

</section>

<!--- table ---->


<section class="recent">
  <div class="activity-grid">

    
    <div class="activity-card">





<div class="demandes">
 
      <div class="activity-card">
        <div class="demandes_faites">
            <div class="text-left">
            <h2>Demandes faites :</h2>
            </div>
            <div class="text-center">
            <%= link_to "créer une nouvelle demande",new_request_path, class: "btn btn-primary couleur" %>
            </div>
            <% @emetteur_requests.each do |request| %>
              <div class="cards">
                <%= link_to request_path(request), class: "remove_link_style" do  %>
                  <div class="card-demande">

                    <h4><%=request.titre %></h4>
                    <p><i class="far fa-building mr-2"></i><%=request.destinataire.entreprise %></p>

                    <!---
                    <p>Pourcentage <%= request.avancement%> %</p>
                    ---->
                      <% if @doc_a_valider > 0  %>
                      <p class="warning">
                        <i class="fas fa-exclamation-triangle"></i>
                      </p>
                      <% end %>

                    <p><i class="fas fa-hourglass-start mr-2"></i> J -  <%= ((request.date_echeance - Time.new)/60/60/24).to_i %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
         </div>
      </div>
    
      <div class="activity-card">




          <div class="demandes_recues">
             <div class="text-left">
            <h2>Demandes reçues :</h2>
          </div>
            <% @destinataire_requests.each do |request| %>
              <%= link_to request_path(request), class: "remove_link_style" do  %>
                <div class="cards">
                  <div class="card-demande">
                    <p><%=request.titre %></p>
                    <p> De : <%=request.emetteur.entreprise %></p>
                    <p>échéance : <%=request.date_echeance.strftime("%d/%m/%Y") %></p>
                    <p>avancement : <%= request.avancement%> %</p>
                    <p>document refusé ? <%= @doc_refuse%> </p>

                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>

    </div>
  </div>
</section>



  <!--- div origine à conserver temporairement

  <div class="demandes">
    <div class="demandes_faites">
      <h2>Demandes faites :</h2>
      <% @emetteur_requests.each do |request| %>
        <div class="cards">
          <%= link_to request_path(request), class: "remove_link_style" do  %>
            <div class="card-demande">
              <li><p>titre :<%=request.titre %></p></li>
              <p>destinataire:<%=request.destinataire.entreprise %></p>
              <p>date d'échéance<%=request.date_echeance.strftime("%d/%m/%Y") %></p>
              <p>avancement : <%= request.avancement%> %</p>
              <p> nouveau document <%= @doc_a_valider%></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="demandes_recues">
      <h2>Demandes reçues :</h2>
      <% @destinataire_requests.each do |request| %>
        <%= link_to request_path(request), class: "remove_link_style" do  %>
           <div class="cards">
            <div class="card-demande">
              <p>titre :<%=request.titre %></p>
              <p>emetteur :<%=request.emetteur.entreprise %></p>
              <p>date d'échéance :<%=request.date_echeance.strftime("%d/%m/%Y") %></p>
              <p>avancement : <%= request.avancement%> %</p>
              <p>document refusé <%= @doc_refuse%> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

---->


      </div>








