 <section id="nav-bar">
         <nav class="navbar navbar-expand-lg navbar-light">

            <div class="container-fluid">
                  <a class="navbar-brand"><%= image_tag("telegram.png", width: 0) %></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-bars"></i>
                    </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Fonctionnalités</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#">Pour qui</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#">Tarifs</a>
                    </li>

                    <% if current_user == nil %>
                     <li class="nav-item">
                      <a class="btn btn-primary-home" aria-current="page" href="/users/sign_up">Essayer la démo</button>
                       <li><a class="nav-link active" aria-current="page" href="/users/sign_in">Sign in</a></li>
                    </li>

                    <% else %>
                      <li class="nav-item dropdown">
                        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <%= link_to "Dashboard", requests_path, class: "dropdown-item drop-link" %>
                          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item drop-link "%>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
          </nav>
    </section>



<!--- banner section ------>

    <section id="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
               <div class="megalogo">
                <p class="promo-title">
                  <%= image_tag("FilesMeUp-mini.png", width: 669, height: 150, crop: :fill) %></p>
                </div>

                <div class="logocenter">
                    <p>L'échange de vos documents fluidifié.<br> Une solution simple et sécurisée
                 <br> pour un gain de temps assuré !</p>
                </div>


              <a href="#"></a>
            </div>

            <div class="col-md-6 text-center">

               <%= image_tag("business-meeting.svg", width: 500, height: 400, crop: :fill) %>

            </div>
          </div>
        </div>

     <%= image_tag("transparent-wave-top.png", :class => "bottom-img") %>
  </section>


<!--- services section ------>


  <section id="services">
      <div class="containter text-center">
        <h1 class="title"> Ce que nous faisons </h1>
        <div class="row text-center">
          <div class="col-md-4">
            <%= image_tag("customer-service.png", :class => "services-img") %>
            <h4>Echanges sécurisés</h4>
            <p> Transmettez vos données, <br>professionnelles ou personnelles,<br>en toute sécurité.</p>
          </div>

          <div class="col-md-4">
            <%= image_tag("productivity.png", :class => "services-img") %>
            <h4>Productivité doublée</h4>
            <p> Glissez,importez et déposez vos documents,  <br> récupérez vos réponses ou relancez, <br>en toute simplicité !</p>
          </div>

          <div class="col-md-4">
            <%= image_tag("Wavy-Word.png", :class => "services-img") %>
            <h4>Vos documents accessibles</h4>
            <p> Profitez d'une GED de vos documents, <br>reçus et envoyés <br>sur tous vos appareils.</p>
          </div>
      </div>
      <!--- button ------>
      <button type="button" class="btn btn-primary">Tous les services</button>
    </div>
</section>


   <!--- About us  ------>

   <section id="about-us">
     <div class="container">
       <h1 class="title text-center">Pourquoi nous faire confiance ?</h1>
       <div class="row">
         <div class="col-md-6">
           <p>Pourquoi sommes nous différents ?</p>
           <ul>
               <li>Votre temps est notre priorité</li>
               <li>Nous facilitons vos tâches administratives</li>
               <li>Pour vous concentrer sur votre métier</li>
               <li>Nous protégeons vos données</li>
               <li>Et pérénisons votre relation client</li>  
           </ul>
         </div>
            <!--- img rocket  ------>
         <div class="col-md-6">
          <%= image_tag("launch-project.png", width: 500, height: 400, crop: :fill) %>
         </div>
       </div>
     </div>
   </section>


    <!--- Testimonials  ------>
    <section id="testimonials">
      <div class="container">
        <h1 class="title text-center">Testimoniaux</h1>
        <div class="row offset-1">

          <!--- Conserver le text sur 4 lignes --->
          <div class="col-md-4 testimonials">
            <p>"J'ai fais appel à FilesMeUp pour accélérer <br>mon flux de documents,<br> je peux enfin me focaliser sur mon travail
              <br>
              <br>Je suis très satistaite de leurs services.</p>
                <%= image_tag("Natalia-2.png", :class => "") %>
                <p class="user-details"><b>Natalia P</b> Ressources Humaines - So Flux</p>
          </div>

          <div class="col-md-4 testimonials">
            <p>"L'administratif est souvent vu comme chronophage et ennuyant. <br>
              <br> Grâce à FilesMeUp, c'est devenu pour nous <br>une tâche simple comme un jeu d'enfants.
              <br>
            </p>
                <%= image_tag("seb.png", :class => "") %>
                <p class="user-details"><b>Seb.M</b> Manager - LeGral Finances</p>
          </div>

          <div class="col-md-4 testimonials">
            <p>"FilesMeUp est le site dont j'avais besoin.
              <br> J'envois mes documents à mon expert-comptable et mon banquier <br> et ils sont sauvegardés et classés dans ma GED !
              <br>
              <br>Un grand merci !"</p>
                <%= image_tag("roger-construction-2.png", :class => "") %>
                <p class="user-details"><b>Roger.C</b> Chargé d'affaires - C&B.Construction</p>
          </div>

        </div>
      </div>
    </section>

        <!--- Social Media  ------>

        <section id="social-media">
          <div class="container text-center">
            <p>Suivez-nous!</p>
            <div class="social-icons">
              <a href="#"><%= image_tag("instagram.svg") %></a>
              <a href="#"><%= image_tag("facebook.png") %></a>
              <a href="#"><%= image_tag("linkedin.png") %></a>
              <a href="#"><%= image_tag("twitter.png") %></a>
            </div>
          </div>
        </section>


        <!--- Social Media  ------>


        <section id="footer">
          <%= image_tag("transparent-wave-2.png", :class => "footer-img") %>
          <div class="container">
            <div class="row ">
              <div class="col-md-4 footer-box">
                <%= image_tag("telegram.png", width: 60, height: 90) %><p>Suivez nos actualités sur les réseaux sociaux <br>
                afin de connaitre nos dernières mises à jour !</p>
              </div>

                <div class="col-md-4 footer-box">
                <p><b>Contactez-nous</b></p>
                <p><i class="fas fa-map-marker-alt"></i> Marseille, 13006</p>
                <p><i class="far fa-envelope"></i> support@filesmeup</p>
                <p><i class="fas fa-phone"></i> 09 89 22 23 12</p>
              </div>
            </div>
          </div>
        </section>



