<%= render "shared/sidebar" %>

<div class="container-ged">
    <div class="demandes">
        <p>Documents reçus</>
        <%  @documents_by_destinataire.each do |nom_du_client, documents| %>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">

                        
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= nom_du_client.delete(" ") %>" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-folder"></i>
                                <%= nom_du_client %> 
                            </button>
                                <p><% i=0 %>
                                <% documents.each do |document| %>
                                    <% if document.etat_document == "validé" %>
                                        <% i+=1 %>
                                    <% end %>
                                <% end %>
                                <% if i == 0 %>
                                <%= "(aucun document)"%>
                                <% elsif i == 1 %>
                                <%= "(#{i} document)" %>
                                <% else %>
                                <%= "(#{i} documents)"%>
                                <% end %></p>
                            
                        </h5>
                    </div>
                <div id="collapse<%= nom_du_client.delete(" ") %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <% documents.each do |document| %>   
                            <% if document.etat_document == "validé"%>
                            <div class="doc-link">
                            <p><%= document.nom  %></p>
                          <button type="button" class="fas fa-search" data-toggle="modal" data-target=<%="#exampleModalLong" + "#{document.id}" %>></button>
                            <div class="modal document-modal fade" id=<%="exampleModalLong" + "#{document.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Document téléchargé :</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% if document.fichier.attached? %>
                                    <%= cl_image_tag document.fichier.key, format: :jpg, height: 900, width: 750 %>
                                    <% end %>
                                </div>
                                </div>
                            </div> 
                            </div>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                </div>
            </div>
        <% end %>
    </div>


    <div class="demandes">
        
            
        <p>Documents envoyés</p>

        <%   @documents_by_year.each do |year, documents| %>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">

                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= year %>" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-folder"></i>

                                <%= year %> 
                                
                            </button>
                            <p><% i=0 %>
                                <% documents.each do |document| %>
                                    <% if document.etat_document == "envoyé" %>
                                        <% i+=1 %>
                                    <% end %>
                                <% end %>
                                <% if i == 0 %>
                                <%= "(aucun document)"%>
                                <% elsif i == 1 %>
                                <%= "(#{i} document)" %>
                                <% else %>
                                <%= "(#{i} documents)"%>
                                <% end %></p>   
                        </h5>
                    </div>
                <div id="collapse<%=year%>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <% documents.each do |document| %>   
                            <% if document.etat_document == "envoyé"%>
                            <p><%= document.nom  %></p>
                          <button type="button" class="fas fa-search" data-toggle="modal" data-target=<%="#exampleModalLong" + "#{document.id}" %>></button>
                            <div class="modal document-modal fade" id=<%="exampleModalLong" + "#{document.id}" %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Document téléchargé :</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% if document.fichier.attached? %>
                                    <%= cl_image_tag document.fichier.key, format: :jpg, height: 900, width: 750 %>
                                    <% end %>
                                </div>
                                </div>
                            </div> 
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
